.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	&_items {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 500px;
		&_name {
			display: flex;
			outline: 0;
			background: #f2f2f2;
			width: 200px;
			border: 0;
			margin: 0 0 15px;
			padding: 15px;
			box-sizing: border-box;
			font-size: 14px;
		}
		&_price {
			display: flex;
			outline: 0;
			background: #f2f2f2;
			width: 200px;
			border: 0;
			margin: 0 0 15px;
			padding: 15px;
			box-sizing: border-box;
			font-size: 14px;
		}
	}
}